*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    Overflow-x: hidden;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url('./images/banner/banner2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.empty{
    width: 50%;
}
.banner-content{
    width: 575px;
}
.banner-heading{
    color: var(--dark-01, #151414);
    text-align: right;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
}
.banner-title{
    color: var(--dark-02, #444343);
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.banner-btn{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFF;
    text-align: center ;
    margin-right: 255px;
    margin-left: 420px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}
.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.about-img{
    width: 50%;
    margin-left: 228px;
}
.about-content{
    width: 50%;
}
.person{
    width: 451px;
}

main{
    margin-top: 100px;
}
.about-heading{
    color: var(--dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
}
.about-description{
    color: var(--dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 416px;
    padding: 10px;
}
.sub-des{
    margin: 20px;
    color: var(--dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.check-icon{
    margin-right: 15px;
    color: #16D887;
}
.my-plan-heading{
    color: var(--dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}
.myplan-sub{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 320px; */
    padding: 50px 170px 170px 170px;
}
.my-plan-icon{
    width: 92.958px;
    height: 92.958px;
    align-items: center;
    margin-left: 50px;
}
.my-plan-sub-heading{
    color: var(--dark-01, #151414);
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}
.my-plan-description{
    color: var(--dark-03, #737272);
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
}
.gradient{
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('./images/watch.png');
    background-image: cover;
    background-position: center;
    width: 1140px;
    height: 300px;
    margin-left: 200px;
    margin-bottom: 50px;
    
}

.watch-heading{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding: 50px;
}

.watch-btn{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    border: 1px solid #F15B22 ;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
    cursor: pointer;
}

.foot{
    height: 577px;
    width: 100%;
    background: var(--dark-01, #151414);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-heading{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}
.feature-description{
    width: 485px;
    flex-direction: column;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.feature-email{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}
.feature img{
    margin-left: 20px;
    margin-top: 20px;
}

.subscribe-heading{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    /* margin-bottom: 150px; */
}
.subscribe input{
    width: 325px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #FFF;
    /* margin-bottom: 100px; */
    margin-top: 20px;
}

.sub-btn{
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 20px;
}